.elementor-35 .elementor-element.elementor-element-c4590a4 {text-align: center;}
.elementor-35 .elementor-element.elementor-element-c4590a4 .widget-image-caption {text-align: left;}
@media (min-width:768px) {.elementor-35 .elementor-element.elementor-element-e0c14e0 {width: 3.737%;}
	.elementor-35 .elementor-element.elementor-element-aff7d24 {width: 62.595%;}
	.elementor-35 .elementor-element.elementor-element-39c588f {width: 83.734%;}
	.elementor-35 .elementor-element.elementor-element-1b431aa {width: 3.715%;}}